<%= content_for :head do %>
  Portfolio
<% end %>

<h1>Portfolio</h1>
<%= link_to 'New Portfolio', new_portfolio_path %>

<% @portfolio_items.each do |portfolio_item|%>
  <div>
    <h2><%= portfolio_item.title %></h2>
    <h2><%= portfolio_item.subtitle %></h2>
    <p><%= portfolio_item.body %></p>
    <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
    <div class="portfolio-buttons">
      <button><%= link_to "Edit", edit_portfolio_path(portfolio_item.id) %></button>
      <button><%= link_to "Delete", portfolio_path(portfolio_item.id), method: :delete %></button>
    </div>
  </div>
  
<% end %>
