<%= content_for :head do %>
  Portfolio
<% end %>

<h1>Portfolio</h1>
<button><%= link_to 'New Portfolio', new_portfolio_path %></button>

<% @portfolio_items.each do |portfolio_item|%>
  <div>
    <h3><%= link_to portfolio_item.title, portfolio_path(portfolio_item.id) %></h3>
    <h3><%= portfolio_item.subtitle %></h3>
    <p><%= portfolio_item.body %></p>
    <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
    <div class="portfolio-buttons">
      <button class="btn btn-success"><%= link_to "Edit", edit_portfolio_path(portfolio_item.id) %></button>
      <button class="btn btn-success"><%= link_to "Delete", portfolio_path(portfolio_item.id), method: :delete %></button>
    </div>
  </div>
  
<% end %>
